/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

main{
    background-color: aqua;
    padding: 2rem 0;
    /* height: 300px; */
}

section {
    /* margin: 2rem 0; */
    background-color: blue;
    border: 1rem solid magenta;
    width: 400px;
    color: white;
    /* height: 80%; */
    padding: 2rem;
}